*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fuente;
    src: url("fonts/Q.ttf");
  }

  
main{
  width: 80vw;
  height: 100vh;
  background-color: aqua;
  position: relative;
  left: 20vw;
  overflow-y: auto;
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: #333 #eee; /* Color del scrollbar */
  overflow-x: hidden;
}


main::-webkit-scrollbar {
    width: 7px; /* Ancho del scrollbar */

}

main::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

main::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}



/* box 1 */


#box1{
    width: 80vw;
    height: 7vh;
    background-color: #FFF;
    display: flex;
    justify-content: right;
    
}

#box1_2:hover{
    background-color: #DDD;
    cursor: pointer;
}

#box1_2{
    width: 230px;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: right;
}

#box1_2_span{
    position: relative;
    right: 20px;
    top: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
    
}

#box1_2_span p{
    position: relative;
    left: 25px;
    top: 7px;
    font-family: fuente;
    font-size: 16pt;
}

#box1_2_img{
    position: relative;
    right: 15px;
    top: 7px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

#box1_2_img_userlogo{
    width: 40px;
    height: 40px;
}

#box2{
    width: 80vw;
    height: 50vh;
    background-color: yellow;
    position: relative;
    display: flex;
}

#box3{
    width: 30vw;
    height: 50vh;
    background-color: #FFF;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    z-index: 9999;
}

#box4{
    width: 50vw;
    height: 50vh;
    background-color: #000;
    position: relative;
   
}

#box4_1{
    width: 50vw;
    height: 25vh;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    
}


#box4_2{
    width: 50vw;
    height: 25vh;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
}

#box4_1_1{
    width: 13vw;
    height: 17.5vh;
    background-color: #FFF;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

#box4_1_2{
    width: 13vw;
    height: 17.5vh;
    background-color: #FFF;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#box4_1_3{
    width: 13vw;
    height: 17.5vh;
    background-color: #FFF;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#box4_2_1{
    width: 13vw;
    height: 17.5vh;
    background-color: #000;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;

}

#box4_2_2{
    width: 13vw;
    height: 17.5vh;
    background-color: #000;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;
}

#box4_2_3{
    width: 13vw;
    height: 17.5vh;
    background-color: #000;
    border-radius: 3vh;
    position: relative;
    top: 3.5vh;

}


#box5{
    width: 80vw;
    height: 43vh;
    background-color: #FFF;
    position: relative;
}

#box6{
    width: 80vw;
    height: 50vh;
    background-color: #FFF;
    position: relative;
    display: flex;
}

#box7{
    width: 80vw;
    height: 10vh;
    background-color: #FFF;
    position: relative;
    display: flex;
}