*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fuente;
    src: url("fonts/Q.ttf");
  }


#main{
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

#form_base{
    position: absolute;
    width: 30vw;
    height: 100vh;
    background-color: #FFF;
    
}

#form_base_boxes{
    position: absolute;
    top: 6%;
    left: 10%;
    margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
    background-color: #FFF;
    width: 25vw;
    height: 95vh;
    display: block;
   
}

#form_base_box1{
    width: 25vw;
    height: 50px;
    background-color: #FFF;
    position: relative;
    display: flex;
}

#form_base_box1_1{
    width: 12.5vw;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    text-align: center;
}

#form_base_box1_1 p{
    font-family: fuente;
    position: relative;
    top: 15px;

}

#form_base_box1_1:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: .3s all;
    background-color: #DDD;
}

#form_base_box1_2{
    width: 12.5vw;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

#form_base_box1_2 p{
    font-family: fuente;
    position: relative;
    top: 15px;

}

#form_base_box1_2:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: .3s all;
    background-color: #DDD;
}

#form_base_box2{
    width: 25vw;
    height: 89vh;
    background-color: pink;
    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#form_base_box2_1{
    width: 25vw;
    height: 89vh;
    background-color: #FFF;
    position: relative;
    display: block;
    overflow-y: auto;

}

#form_base_box2_1::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
}

#form_base_box2_1::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#form_base_box2_1::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}

#form_base_input_div_text{
    width: 25vw;
    height: 6vh;
    position: relative;
    top: 20px;
    margin-top: 10px;
    background-color: #FFF;
    display: flex;

}

#form_base_input_div1{
    width: 8vw; /* Anchura específica del div */
    height: 6vh; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */
    border: 1px solid #ccc; /* Añadir un borde para mayor claridad */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    text-align: center;
    word-break: break-all;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #DDD;
}

#form_base_input_div1::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
}

#form_base_input_div1::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#form_base_input_div1::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}


#form_base_column{
    color: #000;
    font-family: fuente;
    font-size: 9pt;
    position:relative;
    top: 25%;

}

#form_base_input_div2{
    width: 15vw;
    height: 6vh;
    background-color: #FFF;
}

#form_base_input_text{
    width: 14vw;
    height: 6vh;
    padding: 5px;
    font-family: fuente;

}


#form_base_input_div_textarea{
    width: 25vw;
    height: 14vh;
    position: relative;
    top: 20px;
    margin-top: 10px;
    background-color: #FFF;
    display: flex;

}
#form_base_input_div1_textarea{
    width: 8vw; /* Anchura específica del div */
    height: 14vh; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */
    border: 1px solid #ccc; /* Añadir un borde para mayor claridad */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    text-align: center;
    word-break: break-all;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #DDD;
}

#form_base_input_div1_textarea::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
}

#form_base_input_div1_textarea::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#form_base_input_div1_textarea::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}

#form_base_input_textarea{
    width: 14vw;
    height: 14vh;
    padding-top: 10px;
    padding-left: 3px;
    font-family: fuente;
}



#form_base_input_div_date{
    width: 25vw;
    height: 6vh;
    position: relative;
    top: 20px;
    margin-top: 10px;
    background-color: #FFF;
    display: flex;

}
#form_base_input_div1_date{
    width: 8vw; /* Anchura específica del div */
    height: 6vh; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */
    border: 1px solid #ccc; /* Añadir un borde para mayor claridad */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    text-align: center;
    word-break: break-all;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #DDD;
}

#form_base_input_div1_date::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
}

#form_base_input_div1_date::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#form_base_input_div1_date::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}

#form_base_input_date{
    width: 14vw;
    height: 6vh;
    padding-top: 10px;
    padding-left: 3px;
    font-family: fuente;
}

#form_base_input_div_number{
    width: 25vw;
    height: 6vh;
    position: relative;
    top: 20px;
    margin-top: 10px;
    background-color: #FFF;
    display: flex;

}
#form_base_input_div1_number{
    width: 8vw; /* Anchura específica del div */
    height: 6vh; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */
    border: 1px solid #ccc; /* Añadir un borde para mayor claridad */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    text-align: center;
    word-break: break-all;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #DDD;
}

#form_base_input_div1_number::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
}

#form_base_input_div1_number::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#form_base_input_div1_number::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}

#form_base_input_number{
    width: 14vw;
    height: 6vh;
    padding-top: 5px;
    padding-left: 3px;
    font-family: fuente;
}


#form_base_input_div_submit{
    width: 25vw;
    height: 6vh;
    position: relative;
    top: 20px;
    margin-top: 20px;
    background-color: #FFF;
    display: flex;

}
#form_base_input_div1_submit{
    width: 9vw; /* Anchura específica del div */
    height: 6vh; /* Altura específica del div */
    text-align: center;
    margin-right: 1vw;
    margin-left: 2vw;
    background-color: #FFF;
}

#form_base_input_div2_submit{
    width: 9vw; /* Anchura específica del div */
    height: 6vh; /* Altura específica del div */
    text-align: center;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #FFF;
}


#form_base_input_submit{
    width: 9vw;
    height: 6vh;
    padding:3px;
    font-family: fuente;
    border-radius: 30px;
    background-color: #DDD;
    border: none;
    cursor: pointer;
}

#form_base_input_submit:hover{
    background-color: #000;
    transition: .2s all;
    color: #FFF;
}





textarea {
    resize: none;
  }


#form_base_box3{
    width: 25vw;
    height: 89vh;
    background-color: cyan;
    position: absolute;
    display: none;
    justify-content: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}





#table_base{
    width: 70vw;
    height: 100vh;
    background-color: pink;
    position: absolute;
    left: 30%;
}


/* box 1 */


#box1{
    width: 70vw;
    height: 8vh;
    background-color: #FFF;
    display: flex;
    justify-content: right;
    
}

#box1_2:hover{
    background-color: #DDD;
    cursor: pointer;
}

#box1_2{
    width: 230px;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: right;
}

#box1_2_span{
    position: relative;
    right: 20px;
    top: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
    
}

#box1_2_span p{
    position: relative;
    left: 25px;
    top: 7px;
    font-family: fuente;
    font-size: 16pt;
}

#box1_2_img{
    position: relative;
    right: 15px;
    top: 7px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

#box1_2_img_userlogo{
    width: 40px;
    height: 40px;
}

/* box 2 */

#box2{
    width: 70vw;
    height: 20vh;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

#box2_1{
    width: 230px;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}

#box2_1_span{
    width: 200px;
    height: 40px;
    background-color: white;
    position: relative;
    right: 15px;
    top: 10px;
}

#box2_1_span p{
    font-family: fuente;
    font-size: 13pt;
    text-align: center;
}

#box2_2{
    width: 230px;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}


/* Estilo para ocultar el input de tipo archivo */
.file-input {
    display: none;
}

/* Estilo para el contenedor personalizado */
.file-input-wrapper {
    position: relative;
    display: inline-block;
}

/* Estilo para la etiqueta que actúa como botón personalizado */
.file-input-wrapper label {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: fuente;
    border-radius: 30px;
    text-align: center;
}

/* Cambia el color del botón cuando se pasa el ratón por encima */
.file-input-wrapper label:hover {
    background-color: #2980b9;
}






#box2_3{
    width: 230px;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 20px;
}

#boton_subir_file{
    position: relative;
    top: 10px;
    right: 15px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(149, 21, 153);;
    color: #FFF;
    font-family: fuente;
    font-size: 14pt;
    cursor: pointer;
    border: none;
}

#boton_subir_file:hover{
    background-color: #C26CD1;
    transition: .3s all;

}

#box2_4{
    width: 500px;
    height: 6vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
}

#barra_busqueda{
    position: relative;
    width: 480px;
    border-radius: 30px;
    padding-left: 20px;
}

#barra_busqueda_icon{
    position: absolute;
    width: 25x;
    height: 25px;
    top: 10px;
    right: 25px;
    cursor: pointer;

}

#box3{
    width: 70vw;
    height: 60vh;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    color: #FFF;
    

}

#box3_1{
    width: 67vw;
    height: 55vh;
    background-color: #FFF;
    position: relative;
    top: 20px;
    overflow: auto;
    
}

th{
    background-color: #000;
    padding: 10px;
    width: 230px;
    color: #FFF;
}



#th_div2{
    background-color: #000;
    padding: 10px;
    width: 100px;
    color: #FFF;
    border-right: 1px solid #FFF;
}


  table {
    border-collapse: collapse;
    max-width: 67vw;
    max-height: 67vh;
    font-family: fuente;
    border-bottom: 1px solid #000;
    color: #000;
    
  }

  td{
    border-bottom: 1px solid #000;
    cursor: pointer;

  }

  tr:hover{
    background-color: #DDD;
  }








  #miDiv {
    width: 230px; /* Anchura específica del div */
    height: 70px; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */
    border: 1px solid #ccc; /* Añadir un borde para mayor claridad */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    padding: 10px;
    text-align: center;
}

/* Estilo específico para WebKit (Chrome, Safari) */
#miDiv::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
}

#miDiv::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#miDiv::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}


#miDiv2 {
    width: 100px; /* Anchura específica del div */
    height: 50px; /* Altura específica del div */
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical si el contenido es más largo que la altura del div */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #333 #eee; /* Color del scrollbar */
    padding: 10px;
    text-align: center;
}

/* Estilo específico para WebKit (Chrome, Safari) */
#miDiv2::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
}

#miDiv2::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del "thumb" (la parte deslizante del scrollbar) */
}

#miDiv2::-webkit-scrollbar-track {
    background-color: #eee; /* Color de la pista del scrollbar (la parte no deslizante) */
}


#box4{
    width: 70vw;
    height: 12vh;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

#box4 a{
     text-decoration: none;
}

#foo_img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 10px;
}

#textologo{
    color: #000;
    font-family: fuente;
    position: relative;
    bottom: 20px;
    left: 10px;
    font-size: 30pt;
}
